:host {
  align-items: center;
  padding: auto;
}

#homePageImage {
  width: 80%;
  max-height: 90%;
  position: absolute;
  top: 5%;
  left: 10%;
}

#homePageTitle {
  font-size: 400%;
  color: #dfac8d;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 45%;
  background-color: #3f3f3f;
  padding: 10px 20px;
  // transform: translate(-50%, -50%);
}
